body {
    font-family: 'League Spartan', sans-serif;
    margin: 0px;
}

.top-bg {
    background-color: hsl(180, 29%, 50%);
    overflow: hidden;
}
.top-bg img{ 
    width: 100vw;
}

.job-list {
    background-color: hsl(180, 52%, 96%);
}

.job-list .job {
    width: 75%;
    height: 150px;
    background-color: white;
    margin: 0px auto;
    margin-bottom: 30px;
    /* box-shadow: 0px 0px 15px hsl(180, 29%, 50%); */
    border-radius: 5px;
}

.job-list .jobs {
    padding-top: 75px;
    padding-bottom: 100px;
}

.job div {
    display: inline-block;
}

.company{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 20px;
}

.description {
    padding-top: 30px;
}

.description h3{ 
    color: hsl(180, 29%, 50%);
    display: inline;
} 

.description h2 {
    margin-bottom: 10px;
}

.description h2:hover {
    color: hsl(180, 29%, 50%);
    cursor: pointer;
}

.description span {
    color: hsl(180, 8%, 52%);
    padding-top: 10px;
    padding-right: 20px;
    font-size: 1.10rem;
}

.description .new {
    background-color: hsl(180, 29%, 50%);
    color: white;
    padding: 8px 7px;
    padding-bottom: 4px;
    font-size: 0.8rem;
    border-radius: 12px;
    margin-left: 20px;
    font-weight: bold;
}

.description .featured {
    background-color: black;
    color: white;
    padding: 8px 7px;
    padding-bottom: 4px;
    font-size: 0.8rem;
    border-radius: 12px;
    margin-left: 10px;
    font-weight: bold;
}

.tags {
    padding-top: 65px;
    padding-right: 30px;
    float: right;
}

.tags span {
    margin-right: 15px;
    display: inline-block;
    padding: 8px 10px;
    font-weight: bold;
    color: hsl(180, 29%, 50%);
    background-color: hsl(180, 31%, 95%);
    border-radius: 5px;
    cursor: pointer;
}

.tags span:hover {
    background-color: hsl(180, 29%, 50%);
    color: white;
}


.selectedTags {
    width: 75%;
    height: 75px;
    background-color: white;
    position: absolute;
    top: 130px;
    left: 190px;
    display: none;
}

.selectedTags .tag {
    margin-left: 20px;
    margin-top: 30px;
    display: inline-block;
}

.selectedTags span {
    padding: 10px;
    color: hsl(180, 29%, 50%);
    background-color: hsl(180, 31%, 95%);
    font-weight: bold;
}

.selectedTags .close {
    font-weight: bold;
    margin-left: 0px;
    background-color: hsl(180, 29%, 50%);
    color: white;
}

.selectedTags .close:hover {
    cursor: pointer;
    background-color: black;
}

.selectedTags a {
    float: right;
    margin-top: 30px;
    margin-right: 20px;
    color: hsl(180, 29%, 50%);
}